<!--The content below is only a placeholder and can be replaced.-->
<form class="ui large form segment">
  <h3 class="ui header">Add a link</h3>

  <div class="field">
    <label for="title">Title:</label>
    <input name="title" #newTitle>
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input name="link" #newLink>
  </div>

  <!-- adding submit form button -->
  <button (click)="addArticle(newTitle, newLink)"
    class="ui positive right floated button">
    Submit link
  </button>
</form>

<!-- displaying linked articles: (using the 'article' component)-->
<div class="ui grid posts">
  <app-article
    *ngFor="let currentArticle of articles"
    [article] ="currentArticle">
  </app-article>
</div>
